.button {
    font: inherit;
    border: 1px solid #00a2dd;;
    background: #00a2dd;;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover,
  .button:active {
    background: #00a2dd;;
    border-color: #00a2dd;;
  }
  
  .button:focus {
    outline: none;
  }
  